/* .navegation {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
  align-items: center;
}

 .ul {
  display: flex;
  gap: 1rem; 
} */


.navWrapper {
	display: flex;
	position: fixed;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 100%;
	height: 80px;
	border-radius: 0 0 15px 15px;
	padding: 0 25px;
	z-index: 2;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 60px;
}

.navTabs {
	display: flex;
	font-weight: 600;
	font-size: 18px;
	list-style: none;
}

.navTab:not(:last-child) {
	padding: 10px 25px;
	margin: 0;
	border-right: 1px solid #eee;
}

.navTab:last-child {
	padding: 10px 0 0 25px;
}

.navTab,
.menuBtn {
	cursor: pointer;
}

.hidden {
	display: none;
}

@media screen and (max-width: 800px) {
	.navContainer {
		position: fixed;
		display: none;
		overflow-y: auto;
		z-index: -1;
		top: 0;
		right: 0;
		width: 280px;
		height: 100%;
		background: #fff;
		box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	}

	.navTabs {
		flex-direction: column;
		align-items: flex-end;
		margin-top: 80px;
		width: 100%;
	}

	.navTab:not(:last-child) {
		padding: 20px 25px;
		margin: 0;
		border-right: unset;
		border-bottom: 1px solid #f5f5f5;
	}

	.navTab:last-child {
		padding: 15px 25px;
	}

	.menuBtn {
		position: relative;
		display: block;
		margin: 0;
		width: 20px;
		height: 15px;
		cursor: pointer;
		z-index: 2;
		padding: 10px;
		border-radius: 10px;
	}

	.menuBtn .menu {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background: #111;
	}

	.menuBtn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menuBtn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menuBtn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menuBtn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menuBtn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menuBtn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .navContainer {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.3s ease;
	}
	
	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
	}
}
